<div class="content createpage" id="create">
  <form #form="ngForm" (ngSubmit)="onSubmit(form.value)" ngNativeValidate>
    <h1>Add new blog</h1>
    <div class="form-inside">
      <label for="title">Blog Title: </label>
      <input type="text" id="title" name="title" ngModel required />
      <label for="body">Blog body:</label>
      <textarea name="body" id="body" cols="30" rows="10" ngModel></textarea>
      <label for="author">Blog Author:</label>
      <select name="author" id="author" ngModel>
        <option value="rohan">Rohan</option>
        <option value="cinta">Cinta</option>
        <option value="afthab">Afthab</option>
        <option value="damey">Damey</option>
        <option value="jithin">Jithin</option>
      </select>
    </div>
    <br />
    <button type="submit" class="pink-button btn">Add blog</button>
  </form>
</div>
