<div class="filter-wrap">
  <button class="set-league btn" (click)="filterMatches('all')">
    All Matches
  </button>
  <button
    class="set-league btn"
    (click)="filterMatches('ENGLAND: Premier League')"
  >
    Premier League
  </button>
  <button class="set-league btn" (click)="filterMatches('SPAIN: La Liga')">
    La Liga
  </button>
  <button class="set-league btn" (click)="filterMatches('FRANCE: Ligue 1')">
    Serie-A
  </button>
  <button class="set-league btn" (click)="filterMatches('GERMANY: Bundesliga')">
    Ligue 1
  </button>
  <button class="set-league btn" (click)="filterMatches('FRANCE: Ligue 1')">
    Bundesliga
  </button>
</div>
