#blog-list::-webkit-scrollbar {
  width: 7px;
}
#blog-list::-webkit-scrollbar-track {
  background-color: transparent;
}
#blog-list::-webkit-scrollbar-thumb {
  background-color: #ef57856c;
  border-radius: 10px;
}
#blog-list::-webkit-scrollbar-thumb:hover {
  background-color: #ef5785;
  border-radius: 10px;
}

.btn {
  color: #f1356d;
  background-color: transparent;
}
a:hover {
  cursor: pointer;
}
.blog-li:hover {
  cursor: pointer;
}
.blog-li {
  border-bottom: 1px solid #d5d0d0;
}
.navbar {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar > li {
  padding: 5px;
}
li {
  padding-bottom: 5px;
  border-bottom: 1px #d3d3d3;
}
.wrapper {
  text-align: center;
  color: #f1356d;
  margin-left: 20%;
  margin-right: 20%;
  font-family: "Courier New", Courier, monospace;
}
.header-wrap {
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(#a7a7a7, #a7a7a7);
  background-size: 65% 2%;
  background-repeat: no-repeat;
  background-origin: bottom;
  background-position: bottom;
  padding-bottom: 1%;
  margin-bottom: 10%;
}

a {
  text-decoration: none;
}

input,
label,
select,
textarea {
  width: 100%;
}
.edit {
  display: none;
}
input,
textarea {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  padding-left: 20%;
  padding-right: 20%;
  justify-content: center;
  display: none;
}
#home {
  text-align: left;
  display: block;
}
#blog-list {
  overflow-y: scroll;
  height: 60vh;
}
h2 {
  color: #000000;
}
ul {
  list-style-type: none;
  text-align: left;
}
.pink-button {
  background-color: #f1356d;
  border: 2px solid #f1356d;
  color: white;
  border-radius: 15px;
  size: 20px;
  border: 0px;
  height: 30px;
  padding: 1px 6px 1px 6px;
}

.form-inside {
  color: #000000;
  text-align: left;
}
.blog-name:hover {
  cursor: pointer;
}

.add-comments {
  color: #f1356d;

  font-size: 12px;
  margin: 0;
}

.add-comments:hover {
  cursor: pointer;
  text-decoration: underline;
}
