/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100vh;
  color: #fff;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn:hover {
  cursor: pointer;
  background-color: #d3a7a7;
}

/* .btn :focus {
  background-color: #ae1e1e;
  color: #fff;
} */
.btn {
  color: #232323;
  background-color: #ffecec;
}
.btn-group {
  border: 0;
}
.match-card {
  margin: 0 20% 0 20%;
  background-color: #ffffff;
}
.match-card-view {
  display: grid;
  grid-template-rows: 1fr 1fr 3fr;
}
* {
  box-sizing: border-box;
}
