/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100vh;
  color: #fff;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn:hover {
  cursor: pointer;
  background-color: #25233d;
}
.btn :focus {
  background-color: #25233d;
}
.btn {
  color: rgb(255, 255, 234);
  background-color: #353159;
}
.btn-group {
  border: 0;
}
.match-card {
  margin: 0 20% 0 20%;
  background-color: #db7373;
}
.match-card-view {
  display: grid;
  grid-template-rows: 1fr 1fr 3fr;
}
