td,
table,
th {
  border: 1px solid #919191;
  border-spacing: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  text-align: center;
}
table {
  width: 100%;
  border: 0px;
}
th {
  background-color: #d3d3d397;
  width: 5px;
}
.link {
  color: #0000ff;
  text-decoration: underline;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

/* .customborder {
  border: 5px solid #000000 !important;
  background-color: red;
} */

.planet {
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
}

.top {
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
}

.bot {
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
}
