.match-list {
  margin: 0;
  list-style-type: none;
  height: 100vh;
  overflow-y: scroll;
}
.league-title {
  font-size: 10px;
}
.match {
  margin: 0px 20% 20px 20%;
  color: #dcdcdc;
  background-color: #4e4a74;
}

.match:hover {
  background-color: #675aa9;
  cursor: pointer;
}
.list-wrapper {
  padding-top: 20px;
  background-color: #353159;
}
