.match-list {
  margin: 0;
  list-style-type: none;
  height: calc(100vh - 132px);
  overflow-y: scroll;
}
.league-title {
  font-size: 10px;
}
.match {
  margin: 20px 20% 20px 20%;
  color: #ffeeee;
  background-color: #bf3030d8;
}

.match:hover {
  background-color: #bf3030;
  cursor: pointer;
}
.list-wrapper {
  padding-top: 20px;
  background-color: #fceded;
}
